# Fichiers et dossiers générés par Cargo
/target/
Cargo.lock

# Fichiers et dossiers spécifiques à l'IDE
.idea/
.vscode/
*.iml
.DS_Store

# Fichiers de sauvegarde
*.rs.bk

# Fichiers binaires potentiels
*.exe
*.dll
*.so
*.dylib

# Fichiers de système
Thumbs.db

# Fichiers de test de la base de données
*.kdbx
*.kdb
*.db
test_*.json

# Autres fichiers temporaires
*.tmp
*.bak
*.swp
